# Project

### (Soft) Deadline: 12th of June

---

## Scope & Ground Rules


### Part 1 | Scope

It's composed for `N` small assignments with guidelines. The assignment score ranges from **0 to N** and are **evenly distributed across all questions**. 

### Part 2 | Scope

Part 2 entails a project using the same dataset. The goal is to prove your data preprocessing skills. As output from this project, you should delivery the **notebook with the code you have done**.

Please apply, at least, **6 transformations** to the feature set you have in hands (or to the features which makes sense to apply the transformation). Each transformation should be accompanied by an explanation . Last but not least, compare the benefits of such transformation with the baseline score or the last best score. 

Regarding the variables you have to use throughout the Part 2, there are 6 in the total, 3 of them you are free to choose while the remaining 3 I have picked for you:
* YearBuilt
* LotFrontage
* MasVnrType

Make your baseline progressive, i.e. please consider the score from the previous transformation as the new baseline if it shows improvements. Example:

    Baseline - subset of transformations [None]  = 60% accuracy
    Iteration #1 - subset of transformations [A]     = 64% accuracy -> new baseline
    Iteration #2 - subset of transformations [A,B]   = 63% accuracy
    Iteration #3 - subset of transformations [A,B,C] = 68% accuracy -> new baseline
    ...
    Iteration #N - subset of transformations [A,B,C,..., N]
    (Being A, B, C a transformation that uses 1 or N features.)

Transformation example: encoding `color` & `country` with `One-Hot-Encoding`.

The `target` variable should be used to compute the accuracy (please use the `Target` you have created on the exercise 2.1, part1).


**Any question please revert yo me via Slack or Email.**


---

**IMPORTANT NOTES to have in mind** 

a) Code Readability is taken into account for the evaluation, so please make it simple, readable and explain your operations when necessary.

b) Make sure that the evaluater can re-run the notebook from the begining, i.e. before you delivery the assignment please go to the bar on top of your notebook -> `Kernel` -> `Restart & Run all`. Validate that all outputs are as you expect.

----


## How can I delivery the Project?



**Email contact**

Please email me via `carlosfeup55@gmail.com` with the following subject:

`[MPPD Project] John Doe` - including the brackets !!!


**Deliverable**

1) Notebook with the code used for both parts, 1 and 2.

2) The notebook **NAME** should follow the notation:

```
 <MyFirstNameAndLastName>_MPPD_project.ipynb
```

E.g. `CarlosRodrigues_MPPD_project.ipynb`

---

## Scope & Ground Rules


### Part 1 | Scope

It's composed for `N` small assignments with guidelines. The assignment score ranges from **0 to N** and are **evenly distributed across all questions**. 

### Part 2 | Scope

Part 2 entails a project using the same dataset. The goal is to prove your data preprocessing skills. As output from this project, you should delivery the **notebook with the code you have done**.

Please apply, at least, **6 transformations** to the feature set you have in hands (or to the features which makes sense to apply the transformation). Each transformation should be accompanied by an explanation . Last but not least, compare the benefits of such transformation with the baseline score or the last best score. 

Regarding the variables you have to use throughout the Part 2, there are 6 in the total, 3 of them you are free to choose while the remaining 3 I have picked for you:
* YearBuilt
* LotFrontage
* MasVnrType

Make your baseline progressive, i.e. please consider the score from the previous transformation as the new baseline if it shows improvements. Example:

    Baseline - subset of transformations [None]  = 60% accuracy
    Iteration #1 - subset of transformations [A]     = 64% accuracy -> new baseline
    Iteration #2 - subset of transformations [A,B]   = 63% accuracy
    Iteration #3 - subset of transformations [A,B,C] = 68% accuracy -> new baseline
    ...
    Iteration #N - subset of transformations [A,B,C,..., N]
    (Being A, B, C a transformation that uses 1 or N features.)

Transformation example: encoding `color` & `country` with `One-Hot-Encoding`.

The `target` variable should be used to compute the accuracy (please use the `Target` you have created on the exercise 2.1, part1).


**Any question please revert yo me via Slack or Email.**


---

**IMPORTANT NOTES to have in mind** 

a) Code Readability is taken into account for the evaluation, so please make it simple, readable and explain your operations when necessary.

b) Make sure that the evaluater can re-run the notebook from the begining, i.e. before you delivery the assignment please go to the bar on top of your notebook -> `Kernel` -> `Restart & Run all`. Validate that all outputs are as you expect.

----


## How can I delivery the Project?



**Email contact**

Please email me via `carlosfeup55@gmail.com` with the following subject:

`[MPPD Project] John Doe` - including the brackets !!!


**Deliverable**

1) Notebook with the code used for both parts, 1 and 2.

2) The notebook **NAME** should follow the notation:

```
 <MyFirstNameAndLastName>_MPPD_project.ipynb
```

E.g. `CarlosRodrigues_MPPD_project.ipynb`

## Scope & Ground Rules


### Part 1 | Scope

It's composed for `N` small assignments with guidelines. The assignment score ranges from **0 to N** and are **evenly distributed across all questions**. 

### Part 2 | Scope

Part 2 entails a project using the same dataset. The goal is to prove your data preprocessing skills. As output from this project, you should delivery the **notebook with the code you have done**.

Please apply, at least, **6 transformations** to the feature set you have in hands (or to the features which makes sense to apply the transformation). Each transformation should be accompanied by an explanation . Last but not least, compare the benefits of such transformation with the baseline score or the last best score. 

Regarding the variables you have to use throughout the Part 2, there are 6 in the total, 3 of them you are free to choose while the remaining 3 I have picked for you:
* YearBuilt
* LotFrontage
* MasVnrType

Make your baseline progressive, i.e. please consider the score from the previous transformation as the new baseline if it shows improvements. Example:

    Baseline - subset of transformations [None]  = 60% accuracy
    Iteration #1 - subset of transformations [A]     = 64% accuracy -> new baseline
    Iteration #2 - subset of transformations [A,B]   = 63% accuracy
    Iteration #3 - subset of transformations [A,B,C] = 68% accuracy -> new baseline
    ...
    Iteration #N - subset of transformations [A,B,C,..., N]
    (Being A, B, C a transformation that uses 1 or N features.)

Transformation example: encoding `color` & `country` with `One-Hot-Encoding`.

The `target` variable should be used to compute the accuracy (please use the `Target` you have created on the exercise 2.1, part1).


**Any question please revert yo me via Slack or Email.**


---

**IMPORTANT NOTES to have in mind** 

a) Code Readability is taken into account for the evaluation, so please make it simple, readable and explain your operations when necessary.

b) Make sure that the evaluater can re-run the notebook from the begining, i.e. before you delivery the assignment please go to the bar on top of your notebook -> `Kernel` -> `Restart & Run all`. Validate that all outputs are as you expect.

----


## How can I delivery the Project?



**Email contact**

Please email me via `carlosfeup55@gmail.com` with the following subject:

`[MPPD Project] John Doe` - including the brackets !!!


**Deliverable**

1) Notebook with the code used for both parts, 1 and 2.

2) The notebook **NAME** should follow the notation:

```
 <MyFirstNameAndLastName>_MPPD_project.ipynb
```

E.g. `CarlosRodrigues_MPPD_project.ipynb`

---

## Setup

Feel free to add any Python package as you please

In [1]:
import numpy as np
import pandas as pd
pd.options.display.max_columns = None

from sklearn.preprocessing import (
    MinMaxScaler,
    StandardScaler,
)

from pgds_mpp_utils import train_and_evaluation

---

# Part 1

## 1- Load Data

1.1- Load **houses.csv** to a Pandas DataFrame

In [2]:
houses_df = pd.read_csv("houses.csv")

1.2- Print dataset total number of `observations` and `variables`

In [3]:
dimensions = houses_df.shape
print("Observations: " + str(dimensions[0]))
print("Variables: " + str(dimensions[1]))

Observations: 1460
Variables: 81

---

### Please find below the subset of columns we are going to consider for the rest of the assignment

In [4]:
columns_list = ['FullBath',
                'TotRmsAbvGrd',
                'Fireplaces',
                'GarageYrBlt',
                'GarageCars',
                'GarageArea',
                'LotFrontage',
                'WoodDeckSF',
                'OpenPorchSF',
                'SaleType',
                'SaleCondition',
                'SalePrice']

1.3- Create a new dataframe which is a subset of the origin dataframe based on the columns listed above.

In [5]:
h_df = houses_df[columns_list]
h_df.columns

Index(['FullBath', 'TotRmsAbvGrd', 'Fireplaces', 'GarageYrBlt', 'GarageCars',
       'GarageArea', 'LotFrontage', 'WoodDeckSF', 'OpenPorchSF', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

## 2- Creating Lables

2.1- Create the `target` column based on `SalePrice`. The split should be done using the median value to create 2 new buckets. `Min->Median` bucket should have assigned the value `0` while the other bucket (`Median->Max`) value should be `1`.

Note: you are free to decide the buckets boundaries

In [6]:
sale_price_median = h_df["SalePrice"].median()

In [7]:
def target_builder(row):
     return 1 if row["SalePrice"] >= sale_price_median else 0

In [8]:
h_df["target"] = h_df.apply(lambda row: target_builder(row), axis=1)

<ipython-input-8-850c833d4f4a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  h_df["target"] = h_df.apply(lambda row: target_builder(row), axis=1)

In [9]:
h_df.head()

,FullBath,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,LotFrontage,WoodDeckSF,OpenPorchSF,SaleType,SaleCondition,SalePrice,target
0,2,8,0,2003.0,2,548,65.0,0,61,WD,Normal,208500,1
1,2,6,1,1976.0,2,460,80.0,298,0,WD,Normal,181500,1
2,2,6,1,2001.0,2,608,68.0,0,42,WD,Normal,223500,1
3,1,7,1,1998.0,3,642,60.0,0,35,WD,Abnorml,140000,0
4,2,9,1,2000.0,3,836,84.0,192,84,WD,Normal,250000,1

## 3- Handling Missing Values

3.1- List the amount of missing values per column

In [10]:
h_df.isna().sum()

FullBath           0
TotRmsAbvGrd       0
Fireplaces         0
GarageYrBlt       81
GarageCars         0
GarageArea         0
LotFrontage      259
WoodDeckSF         0
OpenPorchSF        0
SaleType           0
SaleCondition      0
SalePrice          0
target             0
dtype: int64

3.2- Take care of the missing values in the column `LotFrontage`

In [11]:
#As we are only considering the subset of columns, for the missing values we are using the mean of all the non null values of Neighborhood_dict
h_df['LotFrontage'].fillna(h_df['LotFrontage'].mean(), inplace=True)
h_df.isna().sum()

c:\python39\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

FullBath          0
TotRmsAbvGrd      0
Fireplaces        0
GarageYrBlt      81
GarageCars        0
GarageArea        0
LotFrontage       0
WoodDeckSF        0
OpenPorchSF       0
SaleType          0
SaleCondition     0
SalePrice         0
target            0
dtype: int64

## 4- Handling Categorical Data

4.1- Split categorical feature into a `df_categorical` dataframe

In [12]:
#categorical features: SaleCondition,SaleType
columns = ['SaleCondition', 'SaleType']
df_categorical = h_df[columns]
df_categorical

     SaleCondition SaleType
0           Normal       WD
1           Normal       WD
2           Normal       WD
3          Abnorml       WD
4           Normal       WD
...            ...      ...
1455        Normal       WD
1456        Normal       WD
1457        Normal       WD
1458        Normal       WD
1459        Normal       WD

[1460 rows x 2 columns]

4.2- Apply OHE to `SaleType`

In [13]:
df_categorical = pd.get_dummies(df_categorical, columns=['SaleType'])

In [14]:
df_categorical

,SaleCondition,SaleType_COD,SaleType_CWD,SaleType_Con,SaleType_ConLD,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD
0,Normal,0,0,0,0,0,0,0,0,1
1,Normal,0,0,0,0,0,0,0,0,1
2,Normal,0,0,0,0,0,0,0,0,1
3,Abnorml,0,0,0,0,0,0,0,0,1
4,Normal,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
1455,Normal,0,0,0,0,0,0,0,0,1
1456,Normal,0,0,0,0,0,0,0,0,1
1457,Normal,0,0,0,0,0,0,0,0,1
1458,Normal,0,0,0,0,0,0,0,0,1
1459,Normal,0,0,0,0,0,0,0,0,1

## 5- Feature Scaling

5.1- Apply feature scaling to the variable `GarageArea`. Make sure that the new range fall between `-1/3` and `3`.

In [15]:
# Instanciate the min-max scaler object
mmscaler = MinMaxScaler(feature_range=(-1/3, 3), copy=True)

In [16]:
h_df['GarageArea_scaled'] = mmscaler.fit_transform(h_df[['GarageArea']])
h_df.head()

<ipython-input-16-5bffc9a795c4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  h_df['GarageArea_scaled'] = mmscaler.fit_transform(h_df[['GarageArea']])

,FullBath,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,LotFrontage,WoodDeckSF,OpenPorchSF,SaleType,SaleCondition,SalePrice,target,GarageArea_scaled
0,2,8,0,2003.0,2,548,65.0,0,61,WD,Normal,208500,1,0.954866
1,2,6,1,1976.0,2,460,80.0,298,0,WD,Normal,181500,1,0.748002
2,2,6,1,2001.0,2,608,68.0,0,42,WD,Normal,223500,1,1.095910
3,1,7,1,1998.0,3,642,60.0,0,35,WD,Abnorml,140000,0,1.175835
4,2,9,1,2000.0,3,836,84.0,192,84,WD,Normal,250000,1,1.631876

---

## End of Part 1 - Thank you very much!

---

---

# Part 2

Remark:
* you shall use 6 variable for the assessment
* 3 out of 6 features are designated in the section on the top of the notebook
* the 3 remaining variables are up to you to choose
* you can consider any variable from the original dataset during this assessment

Above all, take this opportunity to practice :)

**Good luck!**

## Variables description

### Mandatory
* YearBuilt - temporal, numerical, categorical
* LotFrontage - numerical
* MasVnrType - categorical

### My Selection    
* Neighboorhood - categorical
* BsmtFinType1 - categorical ordinal
* BsmtFinSF1 - numerical

In [17]:
#create dataframe to be used
columns = ['YearBuilt','LotFrontage', 'MasVnrType','Neighborhood', 'BsmtFinType1','BsmtFinSF1']
df = houses_df[columns].copy()

#Adding the target variable
df["target"] = h_df.apply(lambda row: target_builder(row), axis=1)

### Initial analisys

In [18]:
#data sample
df.head()

,YearBuilt,LotFrontage,MasVnrType,Neighborhood,BsmtFinType1,BsmtFinSF1,target
0,2003,65.0,BrkFace,CollgCr,GLQ,706,1
1,1976,80.0,None,Veenker,ALQ,978,1
2,2001,68.0,BrkFace,CollgCr,GLQ,486,1
3,1915,60.0,None,Crawfor,ALQ,216,0
4,2000,84.0,BrkFace,NoRidge,GLQ,655,1

In [19]:
#dataset dimenstions
dimensions = df.shape
print("Observations: " + str(dimensions[0]))
print("Variables: " + str(dimensions[1]))

Observations: 1460
Variables: 7

In [20]:
#mull count
df.isnull().sum()

YearBuilt         0
LotFrontage     259
MasVnrType        8
Neighborhood      0
BsmtFinType1     37
BsmtFinSF1        0
target            0
dtype: int64

In [21]:
# datatypes
df.dtypes

YearBuilt         int64
LotFrontage     float64
MasVnrType       object
Neighborhood     object
BsmtFinType1     object
BsmtFinSF1        int64
target            int64
dtype: object

## Preparing for baseline
It will be made the minimum changes as possible in order to create a baseline for posterior evaluation on model performance

### Removing NaN

In [22]:
#Removing the nan from LotFrontage
#As we are only considering the subset of columns, for the missing values we are using the mean of all the non null values of Neighborhood_dict
df['LotFrontage'].fillna(df['LotFrontage'].mean(), inplace=True)
df.isna().sum()

YearBuilt        0
LotFrontage      0
MasVnrType       8
Neighborhood     0
BsmtFinType1    37
BsmtFinSF1       0
target           0
dtype: int64

In [23]:
#Removing the nan from MasVnrType
#setting Nan as Unknown
df['MasVnrType'].fillna('Unknown',inplace=True)
df.isna().sum()

YearBuilt        0
LotFrontage      0
MasVnrType       0
Neighborhood     0
BsmtFinType1    37
BsmtFinSF1       0
target           0
dtype: int64

In [24]:
#Removing the nan from BsmtFinType1
#setting Nan as Unknown
df['BsmtFinType1'].fillna('Unknown',inplace=True)
df.isna().sum()

YearBuilt       0
LotFrontage     0
MasVnrType      0
Neighborhood    0
BsmtFinType1    0
BsmtFinSF1      0
target          0
dtype: int64

### Converting features for baseline
As is going to be used a numerical method on our classifier, it must convert all object data types to numerical.

It will be performed the minimum of changes as possible in order tokeep the dataset as the same as it was given.

In [25]:
#setting to category
df['MasVnrType'] = df['MasVnrType'].astype('category')

#label Enconding
df['MasVnrType_cat'] =df['MasVnrType'].cat.codes
df.dtypes

YearBuilt            int64
LotFrontage        float64
MasVnrType        category
Neighborhood        object
BsmtFinType1        object
BsmtFinSF1           int64
target               int64
MasVnrType_cat        int8
dtype: object

In [26]:
#setting to category
df['Neighborhood'] = df['Neighborhood'].astype('category')

#Label Encoding
df['Neighborhood_cat'] =df['MasVnrType'].cat.codes
df.dtypes

YearBuilt              int64
LotFrontage          float64
MasVnrType          category
Neighborhood        category
BsmtFinType1          object
BsmtFinSF1             int64
target                 int64
MasVnrType_cat          int8
Neighborhood_cat        int8
dtype: object

In [27]:
#setting to category
df['BsmtFinType1'] = df['BsmtFinType1'].astype('category')

#Label Encoding
df['BsmtFinType1_cat'] =df['BsmtFinType1'].cat.codes
df.dtypes

YearBuilt              int64
LotFrontage          float64
MasVnrType          category
Neighborhood        category
BsmtFinType1        category
BsmtFinSF1             int64
target                 int64
MasVnrType_cat          int8
Neighborhood_cat        int8
BsmtFinType1_cat        int8
dtype: object

## Baseline

In [48]:
columns = ['YearBuilt','LotFrontage', 'MasVnrType_cat','Neighborhood_cat', 'BsmtFinType1_cat','BsmtFinSF1']
baseline = train_and_evaluation(df[columns], df.target)
print("Baseline: " + str(baseline))

Baseline: 0.6224066390041494

## Transformation 1

The `YearBuilt` is a spcecial case, because, although it is numerical, it should be handled as a category.

Under this context the year a house was built does not implies an order

In [62]:
columns = ['YearBuilt','LotFrontage', 'MasVnrType_cat','Neighborhood_cat', 'BsmtFinType1_cat','BsmtFinSF1']
#Applying One Hot Enconding
df_year = pd.get_dummies(df[columns], columns=['YearBuilt'])

In [63]:
accuracy = train_and_evaluation(df_year, df.target)
print("Baseline: " + str(baseline))
print("accuracy: " +str( accuracy))

Baseline: 0.8029045643153527
accuracy: 0.8070539419087137

**New baseline**

There was an increase in accurace.

In [64]:
baseline = accuracy.copy()

## Transformation 2

`LotFrontage` is a numerical feature, so we can apply some feature scalling to it

In [65]:
#Copy dataset so it doesnot change the previous one
df_LotFrontage = df_year.copy()

# Instanciate the standard scaler object
minmax = MinMaxScaler(feature_range=(0, 1), copy=True)

# This method does 2 steps, it transforms and fits the data
df_LotFrontage['LotFrontage'] = minmax.fit_transform(df_LotFrontage[['LotFrontage']])

In [66]:
accuracy = train_and_evaluation(df_LotFrontage, df.target)
print("Baseline: " + str(baseline))
print("accuracy: " +str( accuracy))

Baseline: 0.8070539419087137
accuracy: 0.8029045643153527

**No new baseline**

Accuracy decreased

## Transformation 3

`MasVnrType` is categorical not ordinal, so we are applying OHE

In [70]:
# duplicating so the original is not changed 
df_MasVnrType = df_year.copy()

#Applying One Hot Enconding
df_MasVnrType = pd.get_dummies(df_MasVnrType, columns=['MasVnrType_cat'])

In [71]:
accuracy = train_and_evaluation(df_MasVnrType, df.target)
print("Baseline: " + str(baseline))
print("accuracy: " +str( accuracy))

Baseline: 0.8070539419087137
accuracy: 0.8070539419087137

**No new baseline**

Accuracy decreased

I'm keeping this new transformation as I beleive from the business view is more correct

## Transformation 4

In [75]:
# duplicating so the original is not changed 
df_Neighborhood = df_MasVnrType.copy()

#Applying One Hot Enconding
df_Neighborhood = pd.get_dummies(df_Neighborhood, columns=['Neighborhood_cat'])

In [76]:
accuracy = train_and_evaluation(df_Neighborhood, df.target)
print("Baseline: " + str(baseline))
print("accuracy: " +str( accuracy))

Baseline: 0.8070539419087137
accuracy: 0.8070539419087137

**No new baseline**

Accuracy decreased

I'm keeping this new transformation as I beleive from the business view is more correct

## Transformation 5

In [77]:
df_Neighborhood.head()

,LotFrontage,BsmtFinType1_cat,BsmtFinSF1,YearBuilt_1872,YearBuilt_1875,YearBuilt_1880,YearBuilt_1882,YearBuilt_1885,YearBuilt_1890,YearBuilt_1892,YearBuilt_1893,YearBuilt_1898,YearBuilt_1900,YearBuilt_1904,YearBuilt_1905,YearBuilt_1906,YearBuilt_1908,YearBuilt_1910,YearBuilt_1911,YearBuilt_1912,YearBuilt_1913,YearBuilt_1914,YearBuilt_1915,YearBuilt_1916,YearBuilt_1917,YearBuilt_1918,YearBuilt_1919,YearBuilt_1920,YearBuilt_1921,YearBuilt_1922,YearBuilt_1923,YearBuilt_1924,YearBuilt_1925,YearBuilt_1926,YearBuilt_1927,YearBuilt_1928,YearBuilt_1929,YearBuilt_1930,YearBuilt_1931,YearBuilt_1932,YearBuilt_1934,YearBuilt_1935,YearBuilt_1936,YearBuilt_1937,YearBuilt_1938,YearBuilt_1939,YearBuilt_1940,YearBuilt_1941,YearBuilt_1942,YearBuilt_1945,YearBuilt_1946,YearBuilt_1947,YearBuilt_1948,YearBuilt_1949,YearBuilt_1950,YearBuilt_1951,YearBuilt_1952,YearBuilt_1953,YearBuilt_1954,YearBuilt_1955,YearBuilt_1956,YearBuilt_1957,YearBuilt_1958,YearBuilt_1959,YearBuilt_1960,YearBuilt_1961,YearBuilt_1962,YearBuilt_1963,YearBuilt_1964,YearBuilt_1965,YearBuilt_1966,YearBuilt_1967,YearBuilt_1968,YearBuilt_1969,YearBuilt_1970,YearBuilt_1971,YearBuilt_1972,YearBuilt_1973,YearBuilt_1974,YearBuilt_1975,YearBuilt_1976,YearBuilt_1977,YearBuilt_1978,YearBuilt_1979,YearBuilt_1980,YearBuilt_1981,YearBuilt_1982,YearBuilt_1983,YearBuilt_1984,YearBuilt_1985,YearBuilt_1986,YearBuilt_1987,YearBuilt_1988,YearBuilt_1989,YearBuilt_1990,YearBuilt_1991,YearBuilt_1992,YearBuilt_1993,YearBuilt_1994,YearBuilt_1995,YearBuilt_1996,YearBuilt_1997,YearBuilt_1998,YearBuilt_1999,YearBuilt_2000,YearBuilt_2001,YearBuilt_2002,YearBuilt_2003,YearBuilt_2004,YearBuilt_2005,YearBuilt_2006,YearBuilt_2007,YearBuilt_2008,YearBuilt_2009,YearBuilt_2010,MasVnrType_cat_0,MasVnrType_cat_1,MasVnrType_cat_2,MasVnrType_cat_3,MasVnrType_cat_4,Neighborhood_cat_0,Neighborhood_cat_1,Neighborhood_cat_2,Neighborhood_cat_3,Neighborhood_cat_4
0,65.0,2,706,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
1,80.0,0,978,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
2,68.0,2,486,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
3,60.0,0,216,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0
4,84.0,2,655,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0

In [79]:
#Copy dataset so it doesnot change the previous one
df_BsmtFinType1 = df_Neighborhood.copy()

# Instanciate the standard scaler object
zscore = StandardScaler()

# This method does 2 steps, it transforms and fits the data
df_BsmtFinType1['BsmtFinType1_cat'] = zscore.fit_transform(df_BsmtFinType1[['BsmtFinType1_cat']])

In [80]:
accuracy = train_and_evaluation(df_BsmtFinType1, df.target)
print("Baseline: " + str(baseline))
print("accuracy: " +str( accuracy))

Baseline: 0.8070539419087137
accuracy: 0.8070539419087137

**No new baseline**

Accuracy decreased

## Transformation 6

In [83]:
#Copy dataset so it doesnot change the previous one

df_BsmtFinSF1 = df_Neighborhood.copy()


# This method does 2 steps, it transforms and fits the data
df_BsmtFinSF1['BsmtFinSF1'] = zscore.fit_transform(df_BsmtFinSF1[['BsmtFinSF1']])

In [84]:
accuracy = train_and_evaluation(df_BsmtFinSF1, df.target)
print("Baseline: " + str(baseline))
print("accuracy: " +str( accuracy))

Baseline: 0.8070539419087137
accuracy: 0.8091286307053942

**New Baseline**

Accuracy increased

In [90]:
final_baseline = accuracy.copy()

In [92]:
print("Final Baseline" + str(final_baseline))

Final Baseline0.8091286307053942